<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% endblock %}</title>
    {% block style %}
        <!-- Put In Styles -->
    {% endblock %}
</head>
<body>
    <header>
        <!-- ToDo -->
        <h1>Header</h1>
    </header>

    {% block content %}
        <!-- Put In The Content -->
    {% endblock %}

    <footer>
        <!-- ToDo -->
    </footer>

    {% block JavaScript %}
        <!-- Put In JavaScript -->
    {% endblock %}
</body>
</html>