* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: #90e790;
}

header > h1 {
    padding: 15px 10px 15px 5px;
    float: left;
}

header > img {
  float: left;
  border-radius: 35px;
  margin: 5px 10px 5px 10px;
}

.centered{
    text-align: center;
}
.title{
    font-weight: 700;
}
.slide {
    background-color: #a1eaa1;
    width: 50%;
    padding: 8% 6%;
    text-align: center;
    margin-left: 19%;
    display: none;
}
.slide.active{
    display: block;
}
input.question {
    border: none;
    padding: 2.8% 4%;
    width: 81%;
    margin-bottom: 2%;
}
span.slide-counter {
    background-color: #d6ddd6;
    border: none;
    border-radius: 50%;
    padding: 1% 1.6%;
    margin-left: 2%;
}

.clickable {
    cursor: pointer;
}

.slide-counter.active{
    background-color: #90e790;
}
.slide-counters {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
button.submit-btn, button.slide-change-btn {
    border: none;
    padding: 1.5% 5%;
    border-radius: 33px;
    background-color: #09a809;
    color: white;
    font-weight: 600;
}
.alert{
    color: red;;
    text-align: center;
    font-weight: 600;
}
.row{
    display: flex;
}
.portfolio {
    background-color: #b5ffb5;
    padding: 6% 2%;
    border-radius: 20px;
    width: 20%;
}
span.portfolio-data {
    font-weight: 100;
    margin-left: 13%;
}