{% extends "utils/layout.html" %}

{% macro portfolio_data(label, value) %}
    <h3>{{label}}: <span class="portfolio-data">{{value}}</span></h3>
{% endmacro %}

{% block body %}
<div class="centered">
    <h1 class="title">Student Dashboard</h1>
</div>
<div class="row">
    <div class="portfolio">
        {{ portfolio_data("Student Name", "Test Name") }}
        {{ portfolio_data("Grade", 11) }}
        {{ portfolio_data("Location", "Nowhere") }}
        {{ portfolio_data("Prefered Video App", "Google Meet") }}
        {{ portfolio_data("Personality Type", "A Person") }}
        <div class="contact-info">
            <a href="">Email</a>
            <a href="">Telephone</a>
        </div>
    </div>
</div>
{% endblock %}