{% extends "utils/layout.html" %}
{% block links %}
    <script src="{{url_for("static", filename="js/multi_slide_form.js")}}" defer></script>
{% endblock %}
{% block body %}
    <div class="centered">
        <h1 class="title">Student Registration</h1>
    </div>

    <form class="reg-slides multi-slide-form" id="multi-slide-form" action="/student_dashboard" method="POST">
        <div class="slide first-slide" id="slide1">
            <input class="question required-question" type="text" placeholder="Student's Full Name (ex: Mark Clarkson)" /><br>
            <input class="question required-question" type="text" placeholder="Parents's Full Name (ex: Mark Clarkson)" /><br>
            <input class="question required-question" type="email" placeholder="Parent's Email (ex: parent@gmail.com)" /><br>
            <input class="question" type="email" placeholder="Student's Email (ex: student@gmail.com)" /><br>
            <input class="question" type="tel" placeholder="Parent's Phone Number" /><br>
            <button class="next-slide slide-change-btn" id="next-1" type="button">Next</button><br>
        </div>

        <div class="slide" id="slide2">
            <input class="question required-question" type="number" placeholder="Student's Grade at School" min="1" max="13" /><br>
            <input class="question" type="text" placeholder="Student's School (ex: Cameron Heights)" /><br>
            <input class="question required-question" type="text" placeholder="Student's Timezone" /><br>
            <input class="question required-question" type="text" placeholder="Prefered Video Call Platform" /><br>
            <button class="prev-slide slide-change-btn" id="back-1" type="button">Back</button>
            <button class="next-slide slide-change-btn" id="next-2" type="button">Next</button>
        </div>

        <div class="slide last-slide" id="slide3">
            <input class="question" type="text" placeholder="Student's full name (ex: Mark Clarkson)" /><br>
            <input class="question" type="text" placeholder="Parents's full name (ex: Mark Clarkson)" /><br>
            <input class="question" type="text" placeholder="Student's email (ex: student@gmail.com)" /><br>
            <button class="prev-slide slide-change-btn" id="back-2" type="button">Back</button>
            <button class="submit-btn" type="submit">Sign Up</button>
        </div>
    </form>

    <div class="slide-counters">
        <span class="slide-counter clickable" id="slide-counter1">1</span>
        <span class="slide-counter clickable" id="slide-counter2">2</span>
        <span class="slide-counter clickable" id="slide-counter3">3</span>
    </div>

{% endblock %}